.attribution {
  font-size: 11px;
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.advice-container {
  background-color: hsl(217, 19%, 38%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
.advice-box {
  color: hsl(193, 38%, 86%);
  background-color: hsl(217, 19%, 24%);
  padding: 25px 0px;
  border-radius: 10px;
  max-width: 600px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  bottom: -250px;
  margin: auto;
}
.advice-id {
  font-size: 14px;
  color: hsl(150, 100%, 66%);
  margin-top: 35px;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
}
.advice-text {
  width: 500px;
  text-align: center;
  margin: auto;
  height: 112px;
  font-size: 28px;
  line-height: 1.5;
}

.advice-divider {
  height: 15px;
  margin-top: 40px;
  margin-bottom: 50px;
}
.advice-dice {
  background-color: hsl(150, 100%, 66%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.advice-dice:hover {
  box-shadow: hsl(150, 100%, 66%) 0 0 20px 2px;
}
.dice-image {
  height: 20px;
}

@media (max-width: 768px) {
  .advice-box {
    padding: 20px;
  }

  .advice-text {
    font-size: 20px;
  }

  .circle-button {
    width: 35px;
    height: 35px;
  }

  .circle-button .icon {
    font-size: 16px;
  }
}
